.item {
    & {
        width: 100%;
        background-color: $c-card;
    }

    &__img-container {
        width: 30%;
        text-align: center;
        float: left;
        margin: $margin-base;
    }

    &__img {
        width: 100%;
        max-width: 180px;
        border-radius: 4px;
    }

    &__info {
        width: 60%;
        float: left;
        padding: $margin-base 0;
        position: relative;
    }

    &__price {
        font-size: $font-size-xx-large;
    }

    &__title {
        margin-top: $margin-base-2x;
        font-size: $font-size-x-large;
    }

    &__location {
        font-size: $font-size-small;
        position: absolute;
        right: 0;
        top: $margin-base + em-to-px($font-size-xxx-large);
        margin-right: $margin-base;
        color: $c-font-base-light;
    }

    &__free-shipping {
        margin-left: 1em;
    }

    &__separator {
        margin: 0 auto;
        width: 90%;
        border: 1px solid $c-background;
    }
}
