.search-box {
    & {
        background-color: #FFE600;
    }

    &__container {
        text-align: right;
        margin: 0 auto;
        width: 90%;
        padding: 1em 0;

        @media screen and (min-width: 768px) {
            width: 70%;
        }
    }

    &__logo-wrapper {
        display: inline-block;
        width: 10%;
        float: left;
    }

    &__logo {
        height: 32px;
    }

    &__input-wrapper {
        display: inline-table;
        width: 90%;
        height: 32px;
    }

    &__input {
        display: table-cell;
        font-size: 18px;
        padding: 0 5px;
        border: 0;
        width: 70%;
        height: 100%;
        border-radius: 3px 0 0 3px;

        @media (min-width: 425px) and (max-width: 768px) {
            width: 80%;
        }

        @media (min-width: 768px) {
            width: 85%;
        }
    }

    &__submit {
        display: table-cell;
        border: 0;
        background-color: #EEE;
        height: 100%;
        border-radius: 0 3px 3px 0;
        padding: 0 10px;
        font-size: 18px;

        img {
            vertical-align: text-bottom;
        }
    }

}

