.search-box {
    & {
        background-color: $c-primary;
    }

    &__container {
        margin: 0 auto;
        width: 90%;
        padding: 1em 0;

        @include desktop {
            max-width: $max-screen-width;
        }
    }

    &__logo-wrapper {
        width: 10%;
        float: left;
    }

    &__logo {
        height: 32px;
    }

    &__input-wrapper {
        text-align: right;
        display: inline-table;
        width: 90%;
        height: 32px;
    }

    &__input {
        display: table-cell;
        font-size: $font-size-x-large;
        padding: 0 5px;
        border: 0;
        width: 70%;
        height: 100%;
        border-radius: 3px 0 0 3px;

        @include gt-tablet {
            width: 90%;
        }
    }

    &__submit {
        display: table-cell;
        border: 0;
        background-color: #EEE;
        height: 100%;
        border-radius: 0 3px 3px 0;
        padding: 0 10px;
        font-size: 1.286em;
        cursor: pointer;

        img {
            vertical-align: text-bottom;
        }
    }
}

