$font-size-base: 14;

$c-primary: #FFE600;
$c-background: #EEEEEE;
$c-card: #FFFFFF;
$c-separator: #999999;
$c-buy: #3483FA;

$c-font-base: #333333;
$c-font-base-light: #666666;
$c-font-base-lighter: #999999;
$c-font-white: #FFFFFF;

$margin-base: 16px;
$margin-base-2x: ($margin-base * 2);

$max-screen-width: 1024px;

$font-size-small: px-to-em(12);
$font-size-regular: px-to-em(14);
$font-size-large: px-to-em(16);
$font-size-x-large: px-to-em(18);

$font-size-xx-large: px-to-em(24);
$font-size-xxx-large: px-to-em(28);
$font-size-xxxx-large: px-to-em(46);

